#title{
    background-color: #ff8882;
}
.container-fluid{
    padding: 2% 8% 2% 8%;
}
.hero-name{
    text-align: center;
    font-family: 'Stalemate', cursive;
    color: aliceblue;
    font-size: 9rem;
    line-height: 1;
    margin-top: 200px;
}
.hero-job{
    text-align: center;
    font-family: 'Scope One', serif;
    color: aliceblue;
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 200px;
}
.popsicle-large{
    height: 100px;
    width: 100px;
}